@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  font-size: 16px;
}

body {
  background: #202729;
  text-transform: lowercase;
  height: calc(100vh - 10px);
  border-bottom: 10px solid #63d297;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

h1 {
  margin: 0;
  margin-bottom: 1.5rem;
  color: #202729;
}

.version {
  font-size: .75rem;
  opacity: .5;
  position: absolute;
  right: .5rem;
  bottom: .5rem;
}

.form-container {
  position: relative;
  display: inline-block;
  background: #efefef;
  margin: auto;
  margin-top: 20vh;
  padding: 2rem;
  border-radius: .2rem;
  box-shadow: 0 0px 2rem 5px rgba(0,0,0,0.5);
}

input {
  display: block;
  margin: 1rem auto;
  margin-bottom: .25rem;
  padding: .75rem;
  border-radius: .2rem;
  border: 1px solid #cecece;
  font-size: 1rem;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  border-left-width: 3px;
}

input[type='text']:focus {
  border-left-width: 3px;
  outline: none;
}

input[type='submit'] {
  width: 100%;
  background: #4BA173;
  color: #efefef;
  text-transform: lowercase;
  cursor: pointer;
  border: none;
  font-weight: bold;

  transition: all 0.2s ease;
}

input[type='submit']:hover {
  background: #63d297;
  color: #202729;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error-message {
  color: red;
  margin: 0;
  text-align: left;
  margin-left: .25rem;
}

.invalid {
  border-left-color: red;
}

.valid {
  border-left-color: #63d297;
}
